body {
	margin: 0;
}

a:hover {
	color: blue;
}

.navigation {
	margin: 0 auto;
	font-weight: bold;
	border-bottom: none;
	font-size: 1em;
	padding-left: 3%;
	padding-right: 3%;
}

.navigation li {
	padding-top: 2%;
}

.col-md-12 {
	padding: 4% 4% 15px 4%;
}

.col-md-10 {
	margin-top: 10px;
	border: 1px solid silver;
	margin-left: 15%;
}

.popular {
	text-align: center;
	letter-spacing: 0.2em;
	margin-bottom: 3%;
	margin-top: 30px;
}

.popular a {
	color: #12004D;
}

.firstmenu {
	margin-bottom: 2%;
}

.tab-content,
.caption {
	text-align: center;
}

.thumbnail h5 {
	font-family: STSong;
	font-size: 1.2em;
	font-weight: bold;
}

.thumbnail a img {
	height: 14em;
}

.thumbnail {
	margin: 0 -5% 0 -5%;
	margin-bottom: 2em;
}

.add {
	background: rgb(228, 143, 17);
	color: white;
	margin-top: 5%;
}

.caption p {
	color: #FF2832;
	font-size: 1.2em;
	font-weight: bold;
}

.last {
	border-top: 1px solid silver;
	margin-top: 20px;
	padding-left: 40%;
	padding-top: 2%;
}

.btn-infor {
	color: white;
	background-color: #3385FF;
}

.btn-infor:hover {
	color: white;
	background: #317EF3;
}

.control-label {
	display: none;
}

.forminput {
	height: 4.2rem;
}

.inputName,
input[type="password"] {
	text-indent: 2.3rem;
	font-weight: normal;
	color: black;
	background: url(../img/login-sprite.png) no-repeat white;
	background-position: 2% 10%;
}

input[type="password"] {
	background-position: 2% 90%;
}

@media (min-width: 768px) {
	.modal-dialog {
		width: 430px;
		margin: 30px auto;
	}
}

.modal-content {
	border-radius: 0;
}

.modal-body {
	padding: 2rem 3rem;
}